<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (coach(); as coachRef) {
      <div>
        <h2 data-cy="coachDetailsHeading"><span jhiTranslate="smartGymManagerApp.coach.detail.title">Coach</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ coachRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartGymManagerApp.coach.name">Name</span></dt>
          <dd>
            <span>{{ coachRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="smartGymManagerApp.coach.specialty">Specialty</span></dt>
          <dd>
            <span>{{ coachRef.specialty }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/coach', coachRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
